{% extends 'base.html' %}
{% load static %}

{% block content %}
	<h2>Asset Man v1.1</h2>
	<hr>
	Simple and effective asset management software written by Torin for anybody.  
	<br><br>
	<a href="http://www.djangoproject.com/"><img src="https://www.djangoproject.com/m/img/badges/djangopowered126x54.gif" border="0" alt="Powered by Django." title="Powered by Django." /></a>
	<a href="https://github.com/torinv/asset-man"><img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" border="0" height="60" alt="GitHub" title="GitHub" /></a>
{% endblock %}